<p>
<%= image_tag @clip.image.url(:medium) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @clip.description %>
</p>

<% if @clip.user == current_user %>
  <%= link_to 'Edit', edit_clip_path(@clip) %> 
<% end %>
<%= link_to 'Back', clips_path %>
